:root {
  --primary-color: #ff9854;
  --van-search-left-icon-color: #ff9854 !important;
}
body {
  font-size: 3.7333vw;
}
.hide-tabbar {
  position: relative;
  z-index: 2;
  overflow-y: auto;
  background-color: #fff;
}
